[submodule "addons/ofxControlPanel"]
	path = addons/ofxControlPanel
	url = https://sebleedelisle@github.com/sebleedelisle/ofxControlPanel.git
[submodule "addons/ofxCv"]
	path = addons/ofxCv
	url = git@github.com:kylemcdonald/ofxCv.git
[submodule "addons/ofxLibdc"]
	path = addons/ofxLibdc
	url = git@github.com:sebleedelisle/ofxLibdc.git
[submodule "addons/ofxEtherdream"]
	path = addons/ofxEtherdream
	url = git@github.com:sebleedelisle/ofxEtherdream.git
[submodule "addons/ofxIlda"]
	path = addons/ofxIlda
	url = git@github.com:sebleedelisle/ofxIlda.git
[submodule "addons/ofxFenster"]
	path = addons/ofxFenster
	url = git@github.com:underdoeg/ofxFenster.git
[submodule "addons/ofxNSWindower"]
	path = addons/ofxNSWindower
	url = git@github.com:paulhayes/ofxNSWindower.git
[submodule "addons/ofxIpVideoGrabber"]
	path = addons/ofxIpVideoGrabber
	url = https://github.com/bakercp/ofxIpVideoGrabber
