.DS_Store
DerivedData
PixelPyrosNew/bin/PixelPyrosNewDebug.app
PixelPyros/bin/PixelPyrosDebug.app
PixelPyros/bin/data/.DS_Store
PixelPyros/bin/data/capturedFrames
Music

/PixelPyros/bin/data/capturedFrames/.DS_Store

/PixelPyros/bin/data/.DS_Store

/PixelPyros/bin/data/autosave.xml
